* {
    margin: 0;
    padding: 0;
}

.page-wrap {
    background: black;
    }

.img {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 900px;
}